</main>
<footer class="site-footer">
    <div class="wrap">
        <p>&copy; {{ "now"|date("Y") }} JugendImpulsZentrum j@m Kremsmünster</p>
        <p><a href="{{ base_url }}/ueber-uns">Kontakt &amp; Öffnungszeiten</a></p>
    </div>
</footer>
</body>
</html>
